/* everforest colours */

* {
    background:     #323D43FF;
    background-alt: #3C474DFF;
    foreground:     #DAD1BEFF;
    selected:       #7FBBB3FF;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
}

/** 
*{
 * al:  #00000000;
 * bg:  #2b3339;
 * se:  #323c41;
 * ac:  #7fbbb3;
 * fg:  #d4be98;
*}
**/
